body {
  font-family: sans-serif;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

form li {
  list-style: none;
  align-items: center;
  padding: 10px;
}

form input {
  padding: 20px 70px;
}

.add-btn {
  justify-content: center;
}

.bookList {
  border: solid black;
  margin:5px;
}

.bookDiv {
background-color: rgb(222, 222, 222);
margin: 10px;
}

.deleteBtn {
  margin: 5px 0 5px 150px;
  border: solid black;
  
}
